body {
    background: linear-gradient(-45deg, #140576 0%, #020c93 13%, #160660 25%, #2a0877 38%, #2d116f 50%, #2e0b76 62%, #121e91 75%, #4c0c8c 87%, #620781 100%);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}